.App {
  font-family: "NeueMontreal-Regular";
  background: linear-gradient(#ffc10d, #fe9f00);
  color: #ffffff;
  margin: auto;
}

.header {
  font-weight: 500;
  margin: 30px auto 70px auto;
  text-align: center;
  font-size: 30px;
}

.container {
  display: block;
  max-width: 678px;
}

h1 {
  font-weight: 500;
  font-size: 40px;
}

h4 {
  font-weight: 100;
  font-size: 16px;
}

.forecast {
  margin: 8px 0 24px;
}
