#description {
  font-weight: 100;
  font-size: 16px;
}

#date {
  font-weight: 100;
  font-size: 20px;
}

#time {
  font-weight: 100;
  font-size: 16px;
}

#humidity {
  font-weight: 100;
  font-size: 16px;
}

#windspeed {
  font-weight: 100;
  font-size: 16px;
}
