.temperature {
  color: #ffffff;
  font-weight: 500;
  font-size: 120px;
  line-height: 100px;
}

.temperatureUnit {
  font-weight: 100;
  font-size: 20px;
  text-decoration: none;
  text-decoration: none;
}

#celsiusLink,
#fahrenheitLink {
  color: #ffffff;
  top: -36px;
}

#celsiusLink:hover,
#fahrenheitLink:hover {
  color: #494949;
  transition: all 200ms ease-in-out;
}
