.card {
  display: flex;
  width: 120px;
  height: 120px;
  margin: 0 5px;
  padding: 0;
  background-color: 0%;
  background: transparent;
  border-radius: 25px;
  border-color: transparent;
}

.card-text .card-temp {
  font-size: 25px;
  text-align: left;
  margin: 0;
  padding: 10px;
  position: absolute;
}
.card-text .card-day {
  font-size: 16px;
  text-align: left;
  margin: 0;
  margin: 25% 0;
  padding: 10px;
  position: absolute;
}
