form {
  margin: 40px 0;
  height: 58px;
}

#search-text-input {
  width: 395px;
  padding: 15px;
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 29px;
  color: #ffffff;
  border: 1px solid #ffffff;
}

#city-input {
  width: 90px;
  padding: 15px;
  margin: 0 5px;
  color: #494949;
  background-color: #ffffff;
  border-radius: 29px;
  border: 1px solid #ffffff;
}

#city-input:hover {
  background-color: #494949;
  color: #ffffff;
  border-radius: 29px;
  border: 1px solid;
  border: 1px solid #494949;
  transition: all 0.3s ease 0s;
}

#geolocation {
  width: 90px;
  padding: 15px;
  margin: 0 5px;
  color: #494949;
  background-color: #ffffff;
  border-radius: 29px;
  border: 1px solid #ffffff;
}

#geolocation:hover {
  background-color: #494949;
  color: #ffffff;
  border-radius: 29px;
  border: 1px solid;
  border: 1px solid #494949;
  transition: all 0.3s ease 0s;
}
